In [1]:
!pip install pymysql
!pip install plotly

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 194 kB/s eta 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Collecting plotly
  Downloading plotly-4.14.3-py2.py3-none-any.whl (13.2 MB)
     |████████████████████████████████| 13.2 MB 135 kB/s eta 0:00:01    |███████▉                        | 3.2 MB 578 kB/s eta 0:00:18
Requirement already satisfied: six in /opt/conda/lib/python3.8/site-packages (from plotly) (1.15.0)
Collecting retrying>=1.3.3
  Downloading retrying-1.3.3.tar.gz (10 kB)
Building wheels for collected packages: retrying
  Building wheel for retrying (setup.py) ... done
  Created wheel for retrying: filename=retrying-1.3.3-py3-none-any.whl size=11429 sha256=f97e8685cd775b5cc9ad68215fea9fc200face100c63de764f8844083a2ffc7e
  Stored in directory: /root/.cache/pip/wheels/c4/a7/48/0a434133f6d56e878ca511c0e6c38326907c0792f67b476e56
Successfully built retrying
Installing collected packages: retrying, plotly
Successfully installed plotly-4.14.3 retrying-1.3.3

In [2]:
import pandas as pd
import sqlalchemy
import matplotlib.pyplot as plt
import plotly.express as px
conn = sqlalchemy.create_engine('mysql+pymysql://root:admin@mysql:3306/richest_people')
richest = pd.read_sql_table('richest', conn)

In [3]:
richest

,Date,Activity Id,Type,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm),GPX File
0,11/11/2018 14:05,c9627fed-14ac-47a2-bed3-2a2630c63c15,Running,10.44,58:40:00,5:37,10.68,774,130,159,2018-11-11-140512.gpx
1,11/9/2018 15:02,be65818d-a801-4847-a43b-2acdf4dc70e7,Running,12.84,1:14:12,5:47,10.39,954,168,159,2018-11-09-150235.gpx
2,11/4/2018 16:05,c09b2f92-f855-497c-b624-c196b3ef036c,Running,13.01,1:15:16,5:47,10.37,967,171,155,2018-11-04-160500.gpx
3,11/1/2018 14:03,bc9b612d-3499-43ff-b82a-9b17b71b8a36,Running,12.98,1:14:25,5:44,10.47,960,169,158,2018-11-01-140358.gpx
4,10/27/2018 17:01,972567b2-1b0e-437c-9e82-fef8078d6438,Running,13.02,1:12:50,5:36,10.73,967,170,154,2018-10-27-170136.gpx
...,...,...,...,...,...,...,...,...,...,...,...
289,3/4/2015 19:00,029102b9-7b7d-40f9-a78d-4f42b9c618e2,Running,10.25,58:27:00,5:42,10.52,691,90,125,2015-03-04-190017.gpx
290,3/2/2015 18:15,c5cf3852-76aa-44f0-bd03-eacb5ecd20e9,Running,15.99,1:31:46,5:44,10.46,1079,128,154,2015-03-02-181536.gpx
291,2/28/2015 9:11,85adaf46-27e4-4ec3-a86f-1129e21e5f38,Running,3.50,20:19,5:48,10.34,238,33,116,2015-02-28-091109.gpx
292,2/25/2015 18:18,bc2a7d16-5d71-4f3f-8534-7ac87e0010a6,Running,9.78,54:08:00,5:32,10.84,661,87,144,2015-02-25-181841.gpx
293,2/23/2015 18:14,3f3231db-0394-4c84-811e-116c9d12a6c6,Running,12.84,1:10:50,5:31,10.88,883,105,141,2015-02-23-181409.gpx

In [4]:
richest.describe()

,Distance (km),Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm)
count,294.000000,294.000000,294.000000,294.000000,294.000000
mean,13.701054,11.346633,894.244898,175.846939,143.530612
std,5.085652,2.086165,332.621075,108.351975,10.583848
min,0.760000,7.750000,54.000000,6.000000,77.000000
25%,10.420000,10.420000,659.250000,95.250000,140.000000
50%,12.775000,10.860000,883.000000,163.500000,144.000000
75%,15.857500,11.427500,1059.250000,208.750000,149.000000
max,38.320000,23.990000,2588.000000,982.000000,172.000000